@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 16;
  background-color: hsl(228deg, 33%, 97%);
}

button {
  cursor: pointer;
}

.app {
  margin: 1rem;
  padding: 1rem;
}
.app .grid-container {
  display: grid;
}
.app .grid-container--form {
  grid-template-areas: "alert alert" "comment comment" "image button";
}
.app .grid-container--comment {
  grid-template-areas: "info info" "comment comment" "score button" "form form";
}
.app .main-container {
  margin-block: 2rem;
}
.app .main-container .comment-container {
  background-color: white;
  margin-bottom: 3rem;
  padding: 1rem;
  border-radius: 15px;
}
.app .main-container .comment-container .info {
  grid-area: info;
  display: flex;
  place-items: center;
  margin-block: 1rem;
  gap: 1rem;
  font-size: 16px;
}
.app .main-container .comment-container .info .profile-pic {
  width: 50px;
  height: 50px;
  background-size: cover;
  border-radius: 50%;
}
.app .main-container .comment-container .info h1 {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
}
.app .main-container .comment-container .info h2 {
  font-weight: 400;
  font-size: 16px;
  color: hsl(211deg, 10%, 45%);
}
.app .main-container .comment-container .score {
  grid-area: score;
  display: flex;
  place-items: center;
  color: hsl(238deg, 40%, 52%);
  font-size: 16px;
  font-weight: 500;
  gap: 1rem;
}
.app .main-container .comment-container .score .score-btn {
  background: none;
  border: none;
  display: flex;
  place-items: center;
  padding: 1rem;
}
.app .main-container .comment-container .comment {
  grid-area: comment;
  margin-bottom: 1rem;
}
.app .main-container .comment-container .comment p {
  color: hsl(211deg, 10%, 45%);
  line-height: 1.75rem;
  font-size: 16px;
}
.app .main-container .comment-container .button {
  grid-area: button;
  display: flex;
  justify-content: end;
  gap: 1rem;
}
.app .main-container .comment-container .button button {
  background: none;
  border: none;
  display: flex;
  padding: 1rem;
  font-size: 16px;
  place-items: center;
  gap: 1rem;
  color: hsl(238deg, 40%, 52%);
  font-weight: 700;
}
.app .main-container .modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.app .main-container .modal-wrapper .modal-content {
  background-color: white;
  width: clamp(10rem, 60vh, 24rem);
  padding: 2rem;
  border-radius: 12px;
}
.app .main-container .modal-wrapper .modal-content .header {
  margin-bottom: 1rem;
  font-size: 18px;
}
.app .main-container .modal-wrapper .modal-content .content {
  margin-bottom: 1rem;
  line-height: 1.5;
  color: hsl(211deg, 10%, 45%);
}
.app .main-container .modal-wrapper .modal-content .button-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.app .main-container .modal-wrapper .modal-content .button-container .cancel {
  padding: 1rem;
  border: none;
  text-transform: uppercase;
  border-radius: 10px;
  background-color: hsl(211deg, 10%, 45%);
  letter-spacing: 0.1rem;
  color: white;
}
.app .main-container .modal-wrapper .modal-content .button-container .delete {
  padding: 1rem;
  border: none;
  text-transform: uppercase;
  border-radius: 10px;
  background-color: hsl(358deg, 79%, 66%);
  letter-spacing: 0.1rem;
  color: white;
}
.app .reply-container {
  padding-left: 3rem;
  border-left: 1px solid hsl(211deg, 10%, 45%);
}
.app .user-container {
  min-width: 100%;
  grid-area: form;
}
.app .user-container .form {
  gap: 1rem;
  padding: 1rem;
}
.app .user-container .form .profile {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 35%;
  margin-block: auto;
  grid-area: image;
}
.app .user-container .form textarea {
  border-radius: 10px;
  padding: 1rem;
  border: none;
  resize: none;
  grid-area: comment;
}
.app .user-container .form textarea:focus {
  border: 0.5px solid hsl(212deg, 24%, 26%);
}
.app .user-container .form button {
  padding: 0.75rem 2rem;
  place-self: end;
  border: none;
  border-radius: 10px;
  background-color: hsl(238deg, 40%, 52%);
  color: white;
  font-size: 16px;
  font-weight: 400;
  font-family: inherit;
  text-transform: uppercase;
  grid-area: button;
}

.amyrobson {
  background: url(../images/avatars/image-amyrobson.png);
}

.maxblagun {
  background: url(../images/avatars/image-maxblagun.png);
}

.ramsesmiron {
  background: url(../images/avatars/image-ramsesmiron.png);
}

.juliusomo {
  background: url(../images/avatars/image-juliusomo.png);
}

.display--none {
  display: none !important;
}

.alert {
  grid-area: alert;
  color: red;
}/*# sourceMappingURL=index.css.map */