@import "./scss/global";

.app {
  margin: 1rem;
  //border: 1px solid black;
  padding: 1rem;
  @include medium {
    margin-inline: 5vh;
  }

  @include large {
    margin-inline: 15vh;
  }

  @include x-large {
    margin-inline: 45vh;
  }

  .grid-container {
    display: grid;
    //border: 1px solid black;
  }

  .grid-container--form {
    grid-template-areas:
      "alert alert"
      "comment comment"
      "image button";
  }

  .grid-container--comment {
    grid-template-areas:
      "info info"
      "comment comment"
      "score button"
      "form form";
  }

  .main-container {
    margin-block: 2rem;

    .comment-container {
      background-color: white;
      margin-bottom: 3rem;
      padding: 1rem;
      border-radius: 15px;
      @include large {
        padding: 2rem;
      }

      .info {
        grid-area: info;
        display: flex;
        place-items: center;
        margin-block: 1rem;
        gap: 1rem;
        font-size: 16px;
        @include medium {
          gap: 2rem;
        }
        @include large {
          font-size: 24px;
          margin-bottom: 1.5rem;
        }

        .profile-pic {
          width: 50px;
          height: 50px;
          background-size: cover;
          border-radius: 50%;
          @include small {
            width: 35px;
            height: 35px;
          }
          @include large {
            width: 65px;
            height: 65px;
          }
        }

        h1 {
          font-family: inherit;
          font-weight: 500;
          font-size: 18px;
          @include small {
            font-size: 12px;
          }
          @include large {
            font-size: 24px;
          }
        }
        .user-indicator {
          background-color: $Moderate-blue;
          color: white;
          padding: 0.4rem 0.75rem;
          border-radius: 5px;
          @include small {
            font-size: 11px;
            padding: 0.2rem 0.5rem;
          }
          @include large {
            font-size: 24px;
          }
        }

        h2 {
          font-weight: 400;
          font-size: 18px;
          color: $Grayish-Blue;
          @include small {
            font-size: 11px;
          }
          @include large {
            font-size: 24px;
          }
        }
      }

      .score {
        grid-area: score;
        //border: 1px solid black;
        display: flex;
        place-items: center;
        color: $Moderate-blue;
        font-size: 20px;
        font-weight: 500;
        gap: 1rem;

        @include small {
          gap: 0.3rem;
        }

        @include large {
          font-size: 24px;
        }

        .score-btn {
          background: none;
          border: none;
          display: flex;
          place-items: center;
          padding: 1rem;
          @include small {
            padding: 0.6rem;
          }
        }
      }

      .comment {
        grid-area: comment;
        margin-bottom: 1rem;
        p {
          color: $Grayish-Blue;
          line-height: 1.75rem;
          font-size: 16px;
          @include small {
            font-size: 15px;
          }
          @include large {
            margin-bottom: 1.5rem;
            line-height: 1.5;
            font-size: 24px;
          }
        }
      }

      .button {
        grid-area: button;
        display: flex;
        justify-content: end;
        gap: 1rem;

        @include small {
          gap: 0rem;
        }

        button {
          background: none;
          border: none;
          display: flex;
          padding: 1rem;
          font-size: 16px;
          place-items: center;
          gap: 1rem;
          color: $Moderate-blue;
          font-weight: 700;

          @include small {
            font-size: 12px;
            gap: 0.5rem;
          }
          @include large {
            font-size: 24px;
            img {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }

    .modal-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;

      .modal-content {
        background-color: white;
        width: clamp(10rem, 60vh, 24rem);
        padding: 2rem;
        border-radius: 12px;

        .header {
          margin-bottom: 1rem;
          font-size: 18px;
        }

        .content {
          margin-bottom: 1rem;
          line-height: 1.5;
          color: $Grayish-Blue;
        }

        .button-container {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 1rem;

          .cancel {
            padding: 1rem;
            border: none;
            text-transform: uppercase;
            border-radius: 10px;
            background-color: $Grayish-Blue;
            letter-spacing: 0.1rem;
            color: white;
          }
          .delete {
            padding: 1rem;
            border: none;
            text-transform: uppercase;
            border-radius: 10px;
            background-color: $Soft-Red;
            letter-spacing: 0.1rem;
            color: white;
          }
        }
      }
    }
  }

  .reply-container {
    padding-left: 1rem;
    border-left: 1px solid $Light-grayish-blue;
    @include large {
      margin-left: 2rem;
      padding-left: 2rem;
    }
  }

  .user-container {
    //background-color: lightcoral;
    min-width: 100%;
    grid-area: form;
    .form {
      gap: 1rem;
      padding: 1rem;

      .profile {
        object-fit: contain;
        max-width: 35%;
        margin-block: auto;
        grid-area: image;
      }

      textarea {
        border-radius: 10px;
        padding: 1rem;
        border: none;
        resize: none;
        grid-area: comment;
      }
      textarea:focus {
        border: 0.5px solid $Dark-blue;
      }
      button {
        padding: 0.75rem 2rem;
        place-self: end;
        border: none;
        border-radius: 10px;
        background-color: $Moderate-blue;
        color: white;
        font-size: 16px;
        font-weight: 400;
        font-family: inherit;
        text-transform: uppercase;
        grid-area: button;
      }
    }
  }
}

.amyrobson {
  background: url(../images/avatars/image-amyrobson.png);
}

.maxblagun {
  background: url(../images/avatars/image-maxblagun.png);
}

.ramsesmiron {
  background: url(../images/avatars/image-ramsesmiron.png);
}

.juliusomo {
  background: url(../images/avatars/image-juliusomo.png);
}

.display--none {
  display: none !important;
}

.alert {
  grid-area: alert;
  color: red;
}
